body {
	font-family: 'Microsoft Yahei', SimHei, sans-serif;
	height: 2000px;
	text-align: center;
}

li {
	width: 600px;
	text-align: left;
	margin: 0 auto;
}

.contextmenu {
  position: fixed;
  margin: 0;
  background-color: #eee;
  border: solid black 1px;
  padding: 0.2em 1em;
  line-height: 1.5em;
}